/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*[routerLink] {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}


html {
  min-height: 100%;
  body {
    height: 100%;
    background-image: url('assets/background.png');
    background-repeat: repeat;
    & > * {
      height: 100%;
      width: 100%;
      text-align: center;
      margin: auto;
    }
  }
}


app-root {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  * {
    flex-grow: 1;
  }
}